<p class="version">
    <strong>Rails version:</strong> <%= Rails.version %><br />
    <strong>Ruby version:</strong> <%= RUBY_DESCRIPTION %>
    <p><b>Website Info: </b><%= @website.inspect %></p>
    <p><b>Page Info:</b> <%= @page.inspect %></p>
</p>